---
import { getCollection, render } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { Image, getImage } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

export async function getStaticPaths() {
	const pages = await getCollection('pages');
	return pages.map((page: CollectionEntry<'pages'>) => ({
		params: { id: page.id },
		props: { page },
	}));
}

interface Props {
	page: CollectionEntry<'pages'>;
}

const { page } = Astro.props;
const { Content } = await render(page);

const optimizedOgImage = await getImage({ src: page.data.image, width: 1200, height: 630, format: 'jpeg', fit: 'cover' });
const siteUrl = Astro.site ? Astro.site.href.replace(/\/$/, '') : 'https://christham.net';
const basePath = import.meta.env.BASE_URL.replace(/\/$/, '');
const ogImageUrl = `${siteUrl}${optimizedOgImage.src}`;
const canonicalUrl = `${siteUrl}${basePath}/pages/${page.id}`;
---

<Layout
	title={page.data.title}
	description={page.data.description}
	image={ogImageUrl}
	canonicalUrl={canonicalUrl}
>
	<Header />
	<div id="main">
		<article id="page-content">
			<a href="/" class="back-link">&larr; Back to Gallery</a>
			<Image src={page.data.image} alt={page.data.title} />
			<h2>{page.data.title}</h2>
			<p class="description">{page.data.description}</p>
			<div class="content">
				<Content />
			</div>
		</article>
	</div>
	<Footer />
</Layout>
	<div id="main">
		<article id="page-content">
			<a href="/" class="back-link">&larr; Back to Gallery</a>
			<Image src={page.data.image} alt={page.data.title} />
			<h2>{page.data.title}</h2>
			<p class="description">{page.data.description}</p>
			<div class="content">
				<Content />
			</div>
		</article>
	</div>
	<Footer />
</Layout>

<style lang="scss">
	@import '../../styles/libs';

	#main {
		display: block;
		padding: 4em 2em;

		#page-content {
			max-width: 900px;
			margin: 0 auto;
			color: _palette(fg);

			.back-link {
				display: inline-block;
				margin-bottom: 2em;
				color: _palette(fg-light);
				text-decoration: none;
				font-size: 0.9em;

				&:hover {
					color: _palette(fg);
				}
			}

			img {
				width: 100%;
				height: auto;
				display: block;
				margin-bottom: 2em;
				border-radius: 4px;
			}

			h2 {
				font-size: 2em;
				margin-bottom: 0.5em;
			}

			.description {
				color: _palette(fg-light);
				font-size: 1.1em;
				margin-bottom: 2em;
			}

			.content {
				line-height: 1.75;
			}
		}
	}
</style>
