---
import GalleryItem from './GalleryItem.astro';

const items = [
	{
		href: '/images/fulls/01.jpg',
		src: '/images/thumbs/01.jpg',
		title: 'Magna feugiat lorem',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.',
		width: 1024,
		height: 683
	},
	{
		href: '/images/fulls/02.jpg',
		src: '/images/thumbs/02.jpg',
		title: 'Nisl adipiscing',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.',
		width: 1024,
		height: 683
	},
	{
		href: '/images/fulls/03.jpg',
		src: '/images/thumbs/03.jpg',
		title: 'Tempus aliquam veroeros',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.',
		width: 1024,
		height: 683
	},
	{
		href: '/images/fulls/04.jpg',
		src: '/images/thumbs/04.jpg',
		title: 'Aliquam ipsum sed dolore',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.',
		width: 683,
		height: 1024
	},
	{
		href: '/images/fulls/05.jpg',
		src: '/images/thumbs/05.jpg',
		title: 'Cursis aliquam nisl',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.',
		width: 1024,
		height: 682
	},
	{
		href: '/images/fulls/06.jpg',
		src: '/images/thumbs/06.jpg',
		title: 'Sed consequat phasellus',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.',
		width: 1024,
		height: 684
	},
	{
		href: '/images/fulls/07.jpg',
		src: '/images/thumbs/07.jpg',
		title: 'Mauris id tellus arcu',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.',
		width: 1024,
		height: 583
	},
	{
		href: '/images/fulls/08.jpg',
		src: '/images/thumbs/08.jpg',
		title: 'Nunc vehicula id nulla',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.',
		width: 1024,
		height: 583
	},
	{
		href: '/images/fulls/09.jpg',
		src: '/images/thumbs/09.jpg',
		title: 'Neque et faucibus viverra',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.',
		width: 1024,
		height: 683
	},
	{
		href: '/images/fulls/10.jpg',
		src: '/images/thumbs/10.jpg',
		title: 'Mattis ante fermentum',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.',
		width: 1024,
		height: 583
	},
	{
		href: '/images/fulls/11.jpg',
		src: '/images/thumbs/11.jpg',
		title: 'Sed ac elementum arcu',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.',
		width: 1024,
		height: 583
	},
	{
		href: '/images/fulls/12.jpg',
		src: '/images/thumbs/12.jpg',
		title: 'Vehicula id nulla dignissim',
		description: 'Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.',
		width: 1024,
		height: 583
	}
];
---
<div id="main">
	{items.map(item => (
		<GalleryItem {...item} />
	))}
</div>

<style lang="scss">
	@use 'sass:math';
	@import '../styles/libs';

	#main {
		transition: -moz-filter #{_duration(panel)} ease, -webkit-filter #{_duration(panel)} ease, -ms-filter #{_duration(panel)} ease, filter #{_duration(panel)} ease;
		display: flex;
		flex-wrap: wrap;
		-webkit-tap-highlight-color: rgba(255,255,255,0);

		&:after {
			pointer-events: none;
			transition: opacity #{_duration(panel)} ease, visibility #{_duration(panel)};
			background: _palette(bg-overlay);
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			visibility: hidden;
			width: 100%;
			z-index: 1;
		}

		:global(body.content-active) & {
			filter: blur(6px);

			&:after {
				pointer-events: auto;
				opacity: 1;
				visibility: visible;
			}
		}

		@mixin thumb-layout($rows, $columns, $pad, $minHeight) {
			$baseDelay: _duration(header) - 0.5;
			$defaultDelay: $baseDelay + (((($rows * $columns) + 1) * 1.5) * _duration(thumb));

			// Use :global(.thumb) because .thumb is a child component and scoped by its own styles
			:global(.thumb) {
				transition-delay: #{$defaultDelay};
				height: calc(#{math.div(100vh, ($rows + $pad))} - #{math.div(_size(header), $rows)});
				min-height: $minHeight;
				width: math.div(100%, $columns);

				@for $i from 1 through (($rows * $columns) * 1.5) {
					&:nth-child(#{$i}) {
						transition-delay: #{$baseDelay + ($i * _duration(thumb))};
					}
				}
			}
		}

		// Default.
			@include thumb-layout(
				_misc(main-layout, default, rows),
				_misc(main-layout, default, columns),
				_misc(main-layout, default, pad),
				_misc(main-layout, default, minHeight)
			);

		// XLarge.
			@include breakpoint('<=xlarge') {
				@include thumb-layout(
					_misc(main-layout, xlarge, rows),
					_misc(main-layout, xlarge, columns),
					_misc(main-layout, xlarge, pad),
					_misc(main-layout, xlarge, minHeight)
				);
			}

		// Large.
			@include breakpoint('<=large') {
				@include thumb-layout(
					_misc(main-layout, large, rows),
					_misc(main-layout, large, columns),
					_misc(main-layout, large, pad),
					_misc(main-layout, large, minHeight)
				);
			}

		// Medium.
			@include breakpoint('<=medium') {
				@include thumb-layout(
					_misc(main-layout, medium, rows),
					_misc(main-layout, medium, columns),
					_misc(main-layout, medium, pad),
					_misc(main-layout, medium, minHeight)
				);
			}

		// XSmall.
			@include breakpoint('<=xsmall') {
				@include thumb-layout(
					_misc(main-layout, xsmall, rows),
					_misc(main-layout, xsmall, columns),
					_misc(main-layout, xsmall, pad),
					_misc(main-layout, xsmall, minHeight)
				);
			}

	}
</style>

<script>
	import PhotoSwipeLightbox from 'photoswipe/lightbox';
	import 'photoswipe/style.css';

	const lightbox = new PhotoSwipeLightbox({
		gallery: '#main',
		children: 'a.image',
		pswpModule: () => import('photoswipe')
	});
	
	lightbox.init();
</script>
